* {
	color: #555;
	font-size: 0.95em;
}

#sidebar {
	position:fixed;
	background-color: #FCF8DC;
	height: auto;
}

#menu {
    width: 220px;
    text-align: left;
    padding: 5px;
    font-family: arial;
}

#menu a {
	font-size: 3.7em;
	text-align: center;
	text-decoration: none;
	background: #FCF8DC;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 2px solid #FCF8DC;
	padding-right: 3px;
	padding-left: 3px;
	color: #777;
}

#menu a:hover {
	font-size: 3.7em;
	background: #eeebeb;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	color: #555;
}

#menu_staff_wrapper a{
	font-size: 0.9em;
}

#menu_staff_wrapper a:hover{
    font-size: 1em;
}


#container {
	margin: auto;
	width: 800px;
	border: 0px solid;
}

p {
	font-size: 1.1em;
}

.h3 {
	margin-right: 30px;
	display: inline;
	font-size: 1.7em;
}

.metadata {
	margin-left: 25px;
}

.phtitle {
	font-size: 1.1em;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.h5 {
    font-size: 3.1em;
}

#photo_title {
    font-size: 3.1em;
}

#photo_title:hover {
    font-size: 3.1em;
    background: #ECF1EF;
}

h6 {
	font-size: 1.7em;
}

.right {
	text-align: right;
	float: right;
	margin: 4px;
}

.photo_instance {
    background: #ECF1EF;
    margin-bottom: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

/* --------------------------- comments styles --------------------------- */
.comments-block {
    text-decoration: none;
    background: #FEF0C9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #777;
    font-size: 1.8em;
}

.comment_header {
    font-size: 1.2em;
    margin-top: 2px;
    color: #8C8C8C;
}

.comment_body {
    font-size: 1.2em;
}

.comment {
    color: #000000;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

.commentlink {
    text-align: right;
}

.comment:hover {
    background-color: #FFEC8B;
}

textarea {
    height: 200px;
    width: 750px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    font-size: 2.7em;
}

/* --------------------------- pagination styles --------------------------- */
.pagination {
    padding-top: 20px;
    padding-left: 40px;
    background: #ECF1EF;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.pagination a.page, .prev, .next{
    border: 3px solid #ccc;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    color: #8C8C8C;
}

.pagination a.page:hover, .prev:hover, .next:hover{
    border:3px solid #000000;
    background: #FFEC8B;
    color: #000000;
}

.pagination .current {
    border: 3px solid #444444;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    background: #FFEC8B;
}

.pagination .disabled {
    display: none;
}

/* --------------------------- title editor styles --------------------------- */
#title_edit_form textarea {
    height: 200px;
    width: 750px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    font-size: 1.7em;
}