* {
	color: #555;
	font-size: 0.95em;
}

#sidebar {
	background-color: #FCF8DC;
	width:200px;
	height: auto;
	float:left;
	vertical-align: middle;
}

#container {
	background-color: white;
	margin: auto;
	width: 800px;
	border: 0px solid;
	position:center;
}

p {
	font-size: 1.1em;
}

.h3 {
	margin-right: 30px;
	display: inline;
	font-size: 1.7em;
}

.metadata {
	margin-left: 25px;
}

.phtitle {
	background-color: white;
	font-size: 1.1em;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
.h5 {
    font-size: 3.1em;
}

#photo_title {
    font-size: 3.1em;
}

#photo_title:hover {
    font-size: 3.1em;
    background: #ECF1EF;
}

h6 {
	font-size: 1.7em;
}

.right {
	text-align: right;
	float: right;
	margin: 4px;
}

.photo_instance {
    background: #ECF1EF;
    margin-bottom: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

/* --------------------------- comments styles --------------------------- */
.comments-block {
    text-decoration: none;
    background: #FEF0C9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #777;
    font-size: 1.8em;
}

.comment_header {
    font-size: 1.2em;
    margin-top: 2px;
    color: #8C8C8C;
}

.comment_body {
    font-size: 1.2em;
}

.comment {
    color: #000000;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

}

.commentlink {
    text-align: right;
}

.comment:hover {
    background-color: #FFEC8B;
}

textarea {
    height: 200px;
    width: 750px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    font-size: 2.7em;
}

textarea#id_body {
    height: 200px;
    width: 750px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    font-size: 2.7em;
}

/* --------------------------- pagination styles --------------------------- */
.pagination {
    padding-top: 20px;
    padding-left: 40px;
    background: #ECF1EF;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.pagination a.page, .prev, .next{
    border: 3px solid #ccc;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    color: #8C8C8C;
}

.pagination a.page:hover, .prev:hover, .next:hover{
    border:3px solid #000000;
    background: #FFEC8B;
    color: #000000;
}

.pagination .current {
    border: 3px solid #444444;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    background: #FFEC8B;
}

.pagination .disabled {
    display: none;
}

/* --------------------------- title editor styles --------------------------- */
#title_edit_form textarea {
    height: 200px;
    width: 750px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 3px;
    font-size: 1.7em;
}


/* --------------------------- Photo rotator styles --------------------------- */
div#rotation_buttons {
    border-color: black;
    border-style: solid;
    border-width: thin;
    background: #ECF1EF;
}

span.photo_rotator_title {
    font-size: 1.7em;
}
/* --------------------------- Views selector styles --------------------------- */
.view_selector {
    text-align: right;
    font-size: 1.5em;
    background: #ECF1EF;
}

.view_selector a{
    color: #000000;
    background: #FFEC8B;
}

.view_selector a:hover, .view_selector a:visited {
    color: #8C8C8C;
}

/* --------------------------- Albums view styles --------------------------- */
div.photo_albums_list {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #FEF0C9;
}

div.album_title, div.album_title a, div.album_title a:hover, div.album_title a:visited {
    font-size: 1.8em;
    color: #000000;
}

div.album_title a:hover{
	color: #8C8C8C;
}


div.album_images {
    border-color: gray;
    border-style: solid;
    border-width: thin;
    background: white;
    margin: 0 auto; 
}

#album_photo_thumbnail {
    width: 157px;
    height: 157px;
    float: left;
    margin: auto;
}

.albums_clearBoth { clear:both; }



/* ----- Box shadow effects ----- */

.dropshadowclass {
       border: solid 1px #CCC;
    -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #999;
}

.anotherboxshadowclass {
       border: solid 2px #CCC;
    -moz-box-shadow: 0px 2px 0px #69C;
    -webkit-box-shadow:  0px 2px 0px #69C;
        box-shadow:  0px 2px 0px #69C;
}

.imagedropshadow {
    padding: 5px;
    border: solid 1px #EFEFEF;
}

a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}