* {
	color: #555;
	font-size: 0.95em;
}

#menu a {
	text-decoration: none;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 2px solid #fff;
	padding-right: 3px;
	padding-left: 3px;
	color: #777;
	font-size: 0.9em;
}

#menu a:hover {
	background: #eeebeb;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	color: #555;
}

#container {
	margin: auto;
	width: 800px;
	border: 0px solid;
}

p {
	font-size: 1.1em;
}

h3 {
	margin-right: 30px;
	display: inline;
}

.metadata {
	margin-left: 25px;
	margin-bottom: 50px;
}

.phtitle {
	font-size: 1.1em;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
h5 {
	font-size: 2.1em;
}

h6 {
	font-size: 1.7em;
}

.commentlink {
	text-align: right;
}

.time {
	font-size: 0.8em;
	margin-top: 2px;
}

.body {
	font-size: 1.1em;
	margin-top: 2px;
}

.right {
	text-align: right;
	float: right;
	margin: 4px;
}

.comments-block {
    text-decoration: none;
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #fff;
    padding-right: 3px;
    padding-left: 3px;
    color: #777;
    font-size: 1.2em;
    margin-bottom: 50px;
}