.tagbox {
	width: 790px;
	background-color: #FCF8DC;
	padding: 5px;
	overflow: auto;
	font-size: 70%;
	font-family: arial;
}

.tags_header {
	color: #777;
	font-size: 2.5em;
	margin: 0 0 10px 0;
	background: url("../../site_media/site_graphics/cloud.gif") no-repeat 0;
	padding: 15px 0 15px 80px;
}

.tags_group {
	margin: 0;
	padding: 0;
}

.tags_group li {
	list-style-type: none;
	float: left;
	margin: 0 10px;
	height: 35px;
}

.tags_group li a {
	
	color: #777;
}

.tags_group li a:hover {
	text-decoration: underline;
	color: #050505;
}

a.tag {
    font-size: 35px;
}

a.tag10 {
	font-size: 33px;
}

a.tag9 {
    font-size: 30px;
}

a.tag8 {
	font-size: 27px;
}

a.tag7 {
    font-size: 25px;
}

a.tag6 {
    font-size: 22px;
}

a.tag5 {
    font-size: 19px;
}

a.tag4 {
    font-size: 17px;
}

a.tag3 {
    font-size: 16px;
}

a.tag2 {
    font-size: 14px;
}

a.tag1 {
	font-size: 12px;
}