#slider {
	position:fixed;
	right: 0;
    top: 0;
	margin: 0;
	padding: 0;
	width: 230px;
	font: 75%/120% Arial, Helvetica, sans-serif;
}
div.upload_photo_title {
    text-align: center;
    width: 144px;
    height: 31px;
    padding: 10px 10px 0 0;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}

div.form_errors ul li {
    color:  #800000;
}

a.btn-slide:focus {
	outline: none;
}

#panel {
	background: #9a9a9a;
	height: 230px;
	width: 250px;
	display: none;
}

#panel.transparent {
    opacity:0.4;
    filter:alpha(opacity=40)
    
}

.slide {
	margin: 0;
	padding: 0;
	border-top: solid 1px #422410;
}

.btn-slide {
    position: relative;
    margin-left: 80px;
    padding-left: 30px;
}

.active {
	background-position: right 12px;
}

.slide-inside {
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 5px 5px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	background: #9a9a9a;
}

#panel.loading {
    background-image:url('../../site_media/site_graphics/loading_ani.gif');
    background-repeat:no-repeat;
    background-position:center;
}