<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
{% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/media/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/media/css/login.css" /> 
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]--> 
<meta name="robots" content="NONE,NOARCHIVE" /> 
</head>
<body class="login"> 
 
<!-- Container --> 
<div id="container"> 
 
    
    <!-- Header --> 
    <div id="header"> 
        <div id="branding"> 
            <h1 id="site-name">Photoblog login</h1> 
        </div> 
    </div> 
    <!-- END Header --> 

    {% block content %}{% endblock %}

    <div id="footer"></div> 
</div> 
<!-- END Container --> 
 
    {% block footer %}
    {% endblock %}
</body>
</html>