{% extends "photo/gphpbase.html" %}

{% block title %}Photo Albums{% endblock %}

{% block head %}
{% endblock %}


{% block sidebar %}
{% endblock %}



{% block content %}


{% load thumbnail %}
{% load pagination_tags %}

<div class="albums">
    <!-- Albums list  -->
        <div class="h5">Photo Albums <b>{{ tagged_name }}</b></div>
        <div class="h3">Enter an album to watch a slideshow of it.</div>
        {% include "photo/views_switcher.html" %}
        
        {% autopaginate items 5 %}
        <div class="photo_albums_list">
        {% for item in items %}
            <div class="album_title">
                <a href="{% url photo.views.gallery_in_album_view item.pk %}"> {{ item.title }} </a>
                <span> ({{item.count}} Photo{% if item.count != 1 %}s{% else %}{% endif %})</span>
            </div>
            <div class="album_images">
            {% for photo in item.images %}
            <div id="album_photo_thumbnail">
            <a href="{% url photo.views.single_image_view photo.pk %}">
            {% if photo.image|is_portrait %}
                {% thumbnail photo.image "95x140" crop="1px 1px" as im %}
                    <img class="imagedropshadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            {% else %}
                {% thumbnail photo.image "140x95" crop="center" as im %}
                    <img class="imagedropshadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            {% endif %}
            </a>
            </div>
            {% endfor %}
            <div id="album_enter_thumbnail">
                <a href="{% url photo.views.gallery_in_album_view item.pk %}">
                    <img class="imagedropshadow" src="/site_media/site_graphics/albums/albums_right.png" width="100" height="95">
                </a>
            </div>
            <br class="albums_clearBoth" />
            </div><!-- album images -->
        {% endfor %}
        </div>
        {% include "tags/tags_cloud.html" %}
        <br />
        {% paginate %}
    </div>
{% endblock %}
