{% extends "photo/gphpbase.html" %}

{% block title %}Photo Albums{% endblock %}

{% block head %}
        {% include "photo/slideshow.html" %}
{% endblock %}


{% block sidebar %}
{% endblock %}



{% block content %}


{% load thumbnail %}
{% load pagination_tags %}

<div class="albums">
    <!-- Albums list  -->
        {% include "photo/photoblog_title.html" %}
        {% include "photo/views_switcher.html" %}

        {% autopaginate items 20 %}
        <div class="photo_albums_list">
            <div class="album_title">
                {{ album.title }}
                <span> ({{album.count}} Photo{% if album.count != 1 %}s{% else %}{% endif %})</span>
            </div>
            <div class="album_images">
            {% for photo in items %}
            <div id="album_photo_thumbnail">
            
            {% if photo.image|is_portrait %}
                {% thumbnail photo.image "700" as ssim %}
                <a rel="slideshow_album" href="{{ ssim.url }}">
                {% endthumbnail %}
                {% thumbnail photo.image "95x140" crop="1px 1px" as im %}
                    <img class="imagedropshadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                {% endthumbnail %}
            {% else %}
                {% thumbnail photo.image "700" as ssim %}
                <a rel="slideshow_album" href="{{ ssim.url }}">
                {% endthumbnail %}
                {% thumbnail photo.image "140x95" crop="center" as im %}
                    <img class="imagedropshadow" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                </a>
                {% endthumbnail %}
            {% endif %}
            </div>
            {% endfor %}
            <br class="albums_clearBoth" />
            </div><!-- album images -->
        </div>
        {% include "tags/tags_cloud.html" %}
        <br />
        {% paginate %}
    </div>
{% endblock %}
