<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}PhotoApp{% endblock %}</title>
    <!-- <meta http-equiv="refresh" content="2">  -->
    <script type='text/javascript' src='/site_media/scripts/jquery.min.js'></script> 
    <link rel="stylesheet" href="/site_media/styles/main_style.css" type="text/css" media="screen" charset="utf-8" />
    {% include "headers/header_blueprint.html" %}
    {% block head %}{% endblock %}
</head>

<body class="free">
    <div id="sidebar"> 
        {% include "photo/nav_global.html" %}
        {% include "tags/tags_cloud.html" %}
        {% block sidebar %} {% endblock %}
    </div>
    <div id="container">

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>

