{% extends "photo/gphpbase.html" %}

{% block head %}
<!-- VOTING scripts and styles -->
<script type='text/javascript' src='/site_media/scripts/vote_single_view.js'></script>
<!-- COMMENTS scripts and styles -->
<script type='text/javascript' src='/site_media/scripts/jquery.form.js'></script>
<script type='text/javascript' src='/site_media/scripts/comment_system.js'></script>
<link rel="stylesheet" href="/site_media/styles/avesome_buttons.css" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block title %}Image: {{ item.title }}{% endblock %}

{% block content %}
{% load comments_for_item %}
{% load thumbnail %}
{% load photo_views %}

    <div class="main">
    {% include "photo/voter.html" %}
    {% register_viewer item.pk as views %}
    <!-- Photo instance  -->
        <h5>Image: {{ item.title }}</b></h5>
            <div class="phtitle"><b>Photo:</b> {{ item.title }}</div>
            <div class="title"><b>original name:</b> "{{ item.image.name }}"</div>
            <div class="title"><b>posted:</b> {{ item.created }} by {{ item.user }}</div>
            <div class="title"><b>original:</b>{{ item.width }} x {{ item.height }}</div>
            <div class="title"><b>rating:</b><span class="rating-{{item.pk}}">{{ item.rating }}</span></div>
            <div class="title"><b>last commented:</b> {{ item.last_commented }}</div>
            <div class="title"><b>viewed:</b> {% if views %}{{ views }}{% else %}{{ item.views }}{% endif %} time(s) by unique users.</div>
            <div class="title"><b>Click the image to view full sized:</b></div>
            
            <a href="{{ item.fullpath }}">
                {% thumbnail item.image "900x700" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>
            <div class="metadata"><b>(c):</b>{{ item.user }}</div>
            <hr>
    <div class="comments">
        {% add_comments_for_item item 300 as comments %}
        {% include "comments/comment_system.html" %}
    </div>
    <hr> <p>Thanks for visiting my site.</p>
{% endblock %}
