{% extends "photo/gphpbase.html" %}

{% block head %}
<script type='text/javascript' src='/site_media/scripts/vote_single_view.js'></script>
<script type='text/javascript' src='/site_media/scripts/comment_system.js'></script>
{% endblock %}

{% block title %}Image: {{ item.title }}{% endblock %}

{% block content %}

{% load thumbnail %}

    <div class="main">
    <!-- Rating  -->
    <div class="right">
        <h5>Rating:
        <a onclick="return voteClick(this, '{{ item.pk }}', '1', '{% url ajaxvote %}')" href=''>+</a>
        <b>/</b>
        <a onclick="return voteClick(this, '{{ item.pk }}', '2', '{% url ajaxvote %}')" href=''>-</a>
    </h5></div>
    <!-- Photo instance  -->
        <h5>Image: {{ item.title }}</b></h5>
            <div class="phtitle"><b>Photo:</b> {{ item.title }}</div>
            <div class="title"><b>original name:</b> "{{ item.image.name }}"</div>
            <div class="title"><b>posted:</b> {{ item.created }} by {{ item.user }}</div>
            <div class="title"><b>original:</b>{{ item.width }} x {{ item.height }}</div>
            <div class="title"><b>rating:</b><span class="rating-{{item.pk}}">{{ item.rating }}</span></div>
            <div class="title"><b>last commented:</b> {{ item.last_commented }}</div>
            <div class="title"><b>Click the image to view full sized:</b></div>
            
            <a href="{{ item.fullpath }}">
                {% thumbnail item.image "800x600" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>
            <div class="metadata"><b>(c):</b>{{ item.user }}</div>
            <hr>
            
    <!-- Comments  -->
    {% if comments %}
        <p>Comments:</p>
    {% endif %}
    {% for comment in comments %}
        {% include "photo/comment.html" %}
    {% endfor %}

    <!-- Comment form  with ajax -->
    <form id="comment_form" method="put">
            Name: {{ form.author }}
            <div id="form_message" name="form_message">
            {{ form.body|linebreaks }}
        <input type="submit" onclick="return post_comment(this, '{{ item.pk }}', get_comment_body, '{% url add_comment_ajax %}')" value="Comment">
    </form>
    </div>
    <hr> <p>Thanks for visiting my site.</p>
{% endblock %}
