{% extends "photo/gphpbase.html" %}

{% block head %}
<script type='text/javascript' src='/site_media/scripts/vote_single_view.js'></script>
<script type='text/javascript' src='/site_media/scripts/comment_system.js'></script>
{% endblock %}

{% block title %}Image: {{ item.title }}{% endblock %}

{% block content %}

{% load thumbnail %}

    <div class="main">
    {% include "photo/rating.html" %}
    
    <!-- Photo instance  -->
        <h5>Image: {{ item.title }}</b></h5>
            <div class="phtitle"><b>Photo:</b> {{ item.title }}</div>
            <div class="title"><b>original name:</b> "{{ item.image.name }}"</div>
            <div class="title"><b>posted:</b> {{ item.created }} by {{ item.user }}</div>
            <div class="title"><b>original:</b>{{ item.width }} x {{ item.height }}</div>
            <div class="title"><b>rating:</b><span class="rating-{{item.pk}}">{{ item.rating }}</span></div>
            <div class="title"><b>last commented:</b> {{ item.last_commented }}</div>
            <div class="title"><b>Click the image to view full sized:</b></div>
            
            <a href="{{ item.fullpath }}">
                {% thumbnail item.image "900x700" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>
            <div class="metadata"><b>(c):</b>{{ item.user }}</div>
            <hr>
            
    <!-- Comments  -->
    <div class="comments-block" data-id="{{ item.pk }}">
        <p class="comments-header" {% if not comments %}
        style="display: none;"
        {% endif %}>Comments:</p>
    {% for comment in comments %}
        {% include "photo/comment.html" %}
    {% endfor %}
    </div>
    <!--
    <div class="comments-block">
    {% if comments %}
        <p class="comments-present">Comments:</p>
    {% endif %}
    {% for comment in comments %}
        {% include "photo/comment.html" %}
    {% endfor %}
    </div>
    -->
    
    <!-- Comment form  with ajax -->
    <form id="comment_form" >
            Name: {{ user }}
            <div id="form_message" name="form_message">
            {{ form.body|linebreaks }}
            </div>
            <input return=false type="submit" onclick="return post_comment(this, '{{ item.pk }}', get_textarea_body, '{% url add_comment_ajax %}')" value="Comment">
    </form>
    
    <hr> <p>Thanks for visiting my site.</p>
{% endblock %}
