{% block nav_global %}

<!-- MENU -->
<div class="menu_wrapper">
    <ul class="new_menu" rel="dark">
        <li><a href="{% url photo.views.thumbnail_view %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url auth.views.auth_state %}">Profile</a></li>
        <li><a href="{% url multi_upload_photo_ajax %}">Upload</a></li>
        <li><a href="{% url django.contrib.auth.views.logout %}">Log out</a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="{% url django.contrib.auth.views.login %}">Log in</a></li>
        <li><a href="{% url auth.views.create_new_user %}">Register</a></li>
        {% endif %}
        <li><a href="{% url about %}">About</a></li>
        <li><a class="logo" href="/feeds/latest/">
            <img width="80" height="79" src="/site_media/site_graphics/social/rss-icon.png"/>
        </a></li>
    </ul>
</div>
        {% if user.is_staff %}
        <div id="menu_staff_wrapper">
            <a class="staff" href="{% url admin:index %}">Django Admin</a>
            <a class="staff" href="{% url cgbmain %}">Content grabber</a>
        </div>
        {% endif %}
{% endblock %}