{% block nav_global %}

<!-- MENU -->
<a class="logo" href="{% url photo.views.thumbnail_view %}">
    <img src="/site_media/site_graphics/site_logo.png" 
        onmouseover="this.src='/site_media/site_graphics/site_logo_MouseOver.png'"
        onmouseout="this.src='/site_media/site_graphics/site_logo.png'"/>
</a>
<div id="menu">

{% if user.is_staff %}
    <div id="menu_staff_wrapper">
        Welcome Admin!<br />
        <a href="{% url admin:index %}">Django Admin</a><br />
        <a href="{% url cgbmain %}">Content grabber</a><br />
    </div>
{% endif %}
{% if user.is_authenticated %}
    <a href="{% url auth.views.auth_state %}">Profile</a><br />
    <a href="{% url django.contrib.auth.views.logout %}">Log out</a><br />
{% endif %}
{% if not user.is_authenticated %}
    <a href="{% url django.contrib.auth.views.login %}">Log in</a><br />
    <a href="{% url auth.views.create_new_user %}">Register</a><br />
{% endif %}
<a href="{% url about %}">About</a><br />
{% endblock %}
</div>
<a class="logo" href="/feeds/latest/">
    RSS:<img width="20" height="20" src="/site_media/site_graphics/social/rss-icon.png"/>
</a>
