{% extends "photo/gphpbase.html" %}

{% block title %}Photos by albom{% endblock %}

{% block content %}
    <div class="main">
        <!-- Albums  -->
        <ul>
            {% load thumbnail %}
            {% for album in albums.object_list %}
                <div class="title">{{ album.title }} ({{ album.image_set.count }} images)</div>
                <ul>
                    {% for img in album.images %}
                        <a href="{{ media_url }}{{ img.image.name }}">
                            {% thumbnail img.image "100x100" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </a>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
{% endblock %}