    <link media="screen" rel="stylesheet" href="/site_media/styles/colorbox/colorbox.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/site_media/scripts/colorbox/jquery.colorbox.js"></script>

    <script>
        $(document).ready(function(){
            //Examples of how to assign the ColorBox event to elements
            $("a[rel='slideshow_album']").colorbox({slideshow:true, transition:"none", width:"95%", height:"95%"});
        });
    </script>


