{% if item.social_posting_permit %}
<form id="social_posting_form" class="" data-id="{{ item.pk }}">
    <div id="social_posting_buttons" class="poster{{ item.pk }}">
        <span class="social_poster_title">Post to social networks:  </span>
        {% if item.flickr_permit %}
        <a type="button" id="flickr_post_btn" disabled="false" class="small orange awesome" onclick="return post_to_flickr(this, '{{ item.pk }}', '{% url flickr_post %}')" >
            <img alt="post to flickr" src="/site_media/site_graphics/social/flickr-icon.png" width="50" height="50">
        </a>
        <br />
        <span id="socialposter_console"></span>
        {% else %}
            <img class="flickr_post_btn_disabled" src="/site_media/site_graphics/social/flickr-icon.png" width="50" height="50">
        {% endif %}
        {% if item.no_social_poster_connected %}
        <br />
        <span class="social_poster_error">Please connect social posting backends in your profile to post 
        photos to social networks and publick sharing websites: </span><a class="social_poster_error_link"  href="{% url profile %}">Go to profile</a>
        {% endif %}
    </div>
    <br />
</form>
{% endif %}