{% extends "gphpbase.html" %}

{% block title %}Image: {{ item.title }}{% endblock %}

{% block content %}
    <style type="text/css">
        .metadata { margin-left: 25px; margin-bottom: 50px; }
        .phtitle { font-size: 1.1em;
                   border-top: 1px solid #aaa; 
                   border-bottom: 1px solid #aaa;
                 }
        h5     { font-size: 2.1em; }
        h6     { font-size: 1.7em; }
        .commentlink { text-align: right; }
        .time { font-size: 0.8em; margin-top: 2px; }
        .body { font-size: 1.1em; margin-top: 2px; }
        .right { text-align: right; float: right; margin: 4px; }
    </style>
{% load thumbnail %}
    <div class="main">
    <!-- Rating  -->
    <div class="right">
        <h5>Rating:
        <a href="{% url photo.views.change_photo_rating_view 1 item.pk %}">+</a>
        <b>/</b>
        <a href="{% url photo.views.change_photo_rating_view 2 item.pk %}">-</a>
    </h5></div>
    <!-- Photo instance  -->
        <h5>Image: {{ item.title }}</b></h5>
            <div class="phtitle"><b>Photo:</b> {{ item.title }}</div>
            <div class="title"><b>original name:</b> "{{ item.image.name }}"</div>
            <div class="title"><b>posted:</b> {{ item.created }} by {{ item.user }}</div>
            <div class="title"><b>original:</b>{{ item.width }} x {{ item.height }}</div>
            <div class="title"><b>rating:</b>{{ item.rating }}</div>
            <div class="title"><b>last commented:</b> {{ item.last_commented }}</div>
            <div class="title"><b>Click the image to view full sized:</b></div>
            
            <a href="{{ item.fullpath }}">
                {% thumbnail item.image "800x600" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>
            <div class="metadata"><b>(c):</b>{{ item.user }}</div>
            <hr>
            
    <!-- Comments  -->
    {% if comments %}
        <p>Comments:</p>
    {% endif %}
    {% for comment in comments %}
        <div class="comment">
            <div class="time">{{ comment.created }} | <b>{{ comment.author }}</b></div>
            <div class="body">{{ comment.body|linebreaks }}</div>
        </div>
    {% endfor %}

    <div id="addc">Add a comment</div>
    <!-- Comment form  -->
    <form action="{% url photo.views.add_comment item.pk %}" method="POST">
        <div id="cform">
            Name: {{ form.author }}
            <p>{{ form.body|linebreaks }}</p>
        </div>
        <div id="submit"><input type="submit" value="Comment"></div>
    </form>
    
    
    </div>
    <hr> <p>Thanks for visiting my site.</p>
{% endblock %}
