<div class="comment {{ comment.permited }} {{ comment.permited }}{{ comment.pk }}" commment-id="{{ comment.pk }}" data-id="{{ comment.data_id }}">
    <div class="comment_header">{{ comment.created|date:"r" }} | {% if comment.author %}<b>{{ comment.author }}</b>
    {% else %}<b>Anonymous</b>{% endif %}
        {% if request.user.is_authenticated %}
        <span class="comment_edit_buttons">
            {% include "comments/edit_comment_btn.html" %}
            {% include "comments/delete_comment_btn.html" %}
        </span>
        {% endif %}
    </div>
    <div class="comment_body" comment-id="{{ comment.pk }}">{{ comment.body }}</div>
</div>