<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
{% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/site_media/styles/login.css" type="text/css" media="screen" charset="utf-8"  /> 
<link rel="stylesheet" href="/site_media/styles/avesome_buttons.css" type="text/css" media="screen" charset="utf-8" />
{% include "headers/header_blueprint.html" %}
<meta name="robots" content="NONE,NOARCHIVE" /> 
</head>
<body class="login"> 
 
<!-- Container --> 
<div id="container"> 


    {% block content %}{% endblock %}

    <div id="footer">
    {% block footer %}{% endblock %}
    </div> 
</div> 
<!-- END Container --> 
 

</body>
</html>