<div id="socialauth_logins">
    <h1>Connect with (equal to registration):</h1>
        <a rel="nofollow" href="{% url begin "twitter" %}">
            <img id="twitter" width="126" height="126" src="/site_media/site_graphics/social/twitter-icon.png">
        </a>
        <a rel="nofollow" href="{% url begin "facebook" %}">
            <img id="facebook" width="126" height="126" src="/site_media/site_graphics/social/facebook-icon.png">
        </a>
        <a rel="nofollow" href="{% url begin "linkedin" %}">
            <img id="twitter" width="126" height="126" src="/site_media/site_graphics/social/linkedin-icon.png">
        </a>
</div>